/classes/
/doc/
/grammatica-*.zip
/lib/grammatica-*.jar
/lib/grammatica-*.dll
/lib/grammatica-*.dll.mdb
/lib/netstandard2.0
/lib/*.nupkg
.vs
/src/csharp/obj
/test/src/csharp/obj
test/src/java/net/percederberg/grammatica/test/RegexpTokenizer.java
src/java/net/percederberg/grammatica/GrammarAnalyzer.java
src/java/net/percederberg/grammatica/GrammarParser.java
src/java/net/percederberg/grammatica/GrammarTokenizer.java
test/src/csharp/PerCederberg.Grammatica.Test/ArithmeticAnalyzer.cs
test/src/csharp/PerCederberg.Grammatica.Test/ArithmeticParser.cs
test/src/csharp/PerCederberg.Grammatica.Test/ArithmeticTokenizer.cs
test/src/csharp/PerCederberg.Grammatica.Test/RegexpAnalyzer.cs
test/src/csharp/PerCederberg.Grammatica.Test/RegexpParser.cs
test/src/csharp/PerCederberg.Grammatica.Test/RegexpTokenizer.cs
test/src/java/net/percederberg/grammatica/test/ArithmeticAnalyzer.java
test/src/java/net/percederberg/grammatica/test/ArithmeticParser.java
test/src/java/net/percederberg/grammatica/test/ArithmeticTokenizer.java
test/src/java/net/percederberg/grammatica/test/RegexpAnalyzer.java
test/src/java/net/percederberg/grammatica/test/RegexpParser.java
